// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profileBorder {
  border: 3px solid gray;
}

.profileSidebarBorder {

}

.resultRow {
  background-color: #ffffff;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
}

.bottomaligned {position:absolute; bottom:0;  margin-bottom:7px; left: 0;}
.bottomright {position:absolute; bottom:0;  margin-bottom:7px; margin:7px; right: 0;}
.bottomleft {position:absolute; bottom:0;  margin-bottom:7px; left: 100px;}
.fixedheight { height: 200px;  width: 243px;  position:relative; border:1px solid;}

#availability {
  background-color: #003354;
}
#availability td {
  text-align: center;
}

#availability.table-striped>tbody>tr:nth-child(odd)>td,
#availability.table-striped>tbody>tr:nth-child(odd)>th,
#availability.table-striped>tbody>tr:nth-child(odd) {
  border-bottom: none;
  background-color: #91BED4;
}

#availability.table-striped thead>tr>th,
#availability.table-striped tfoot>tr>th,
#availability.table-striped tbody>tr>td  {
  border-top: none;
}

#availability.table-striped>tbody>tr:nth-child(even) label {
  color: #D9E8F5
}