// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profileBorder {
  border: 3px solid gray;
}

.profileSidebarBorder {

}

.resultRow {
  background-color: #ffffff;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
}