<div class="row">
  <div class="col-md-12"><h1>Gig Page</h1></div>
</div>
<div class="row">
  <div class="col-md-12"><h2><%= @gig.jobName %></h2></div>
</div>
<% if @gig.profile_id == current_user.profile.id %>
    <div class="row">
      <div class="col-md-12">
        <p><%= link_to 'Edit Gig', edit_gig_path if @gig.profile_id == current_user.profile.id %></p>
      </div>
    </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <p><%= @gig.description %></p>
  </div>
</div>